@import url('https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:400,500,700&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("images/bg-tablet-pattern.svg"), url("images/bg-tablet-pattern.svg");
	background-position: 120vh -30vh, -50vh 130vh;
	background-repeat: no-repeat, no-repeat;
  background-size: 110vh, 110vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-toggler{
  border-style: none !important;
  color: hsl(228, 39%, 23%) !important;
}

.custom-toggler .navbar-toggler-icon{
  background-image: url(./images/icon-hamburger.svg);
}

.cs-img{
  
}

.cs-a{
  font-weight: 500 !important;
  color: hsl(233, 12%, 13%) !important;
  transition: .3s;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.cs-a:hover{
  color: hsl(227, 12%, 61%) !important;
}

.cs-btn{
  font-size: 15px !important;
  font-family: 'Be Vietnam Pro', sans-serif !important;
  background-color: hsl(12, 88%, 59%) !important;
  width: 150px;
  height: 50px;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, hsl(12, 88%, 79%) 0px 5px 10px;
  transition: .3s;
}

.cs-btn:hover{
  background-color: hsl(12, 88%, 69%) !important;
}

.cs-btn2{
  font-size: 15px !important;
  font-family: 'Be Vietnam Pro', sans-serif !important;
  background-color: white !important;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: hsl(12, 88%, 59%) !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, hsl(12, 88%, 59%) 0px 5px 10px;
  transition: .3s;
}

.cs-btn2:hover{
  color: hsl(12, 88%, 79%) !important;
}

.cs-fw{
  font-weight: 500 !important;  
}

.cs-fw-c{
  font-weight: 700 !important;
  color: hsl(228, 39%, 23%) !important;
}

p{
  color: hsl(227, 12%, 61%) !important;
}

.cs-badge{
  background-color: hsl(12, 88%, 59%) !important;
}

.card{
  background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 80%, rgba(250,250,250,0) 80%, rgba(250,250,250,0) 100%) !important;
}

#s3 .card-img-top{
  width: 100px;
}

#scrollThing::-webkit-scrollbar{
  background-color: transparent;
}

#scrollThing::-webkit-scrollbar-thumb{
  background-color: hsl(12, 88%, 59%);
  border-radius: 50px;
}

body::-webkit-scrollbar{
  background-color: transparent;
}

body::-webkit-scrollbar-thumb{
  background-color: hsl(12, 88%, 59%);
  border-radius: 50px;
}

#s4{
  background-image: url("images/bg-simplify-section-desktop.svg");
  background-color: hsl(12, 88%, 59%);
	background-repeat: no-repeat;
}

#footer{
  background-color: hsl(233, 12%, 13%);
}

#links a{
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  font-size: 2.5vh;
}

#links a:hover{
  color: hsl(12, 88%, 59%);
}

#socLinks img{
  transition: .3s;
}

#socLinks img:hover{
  filter: brightness(0) saturate(100%) invert(48%) sepia(70%) saturate(3485%) hue-rotate(341deg) brightness(103%) contrast(90%);
}


#email{
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 15px;
  height: 50px;
  padding-left: 2vh;
  margin-right: 2vh;
  color: hsl(12, 88%, 59%);
  border: solid 2px transparent;
  outline: none !important;
  transition: .3s;
}

#email:hover, #email:focus{
  border: solid 2px hsl(12, 88%, 59%);
}

.cs-btn3{
  font-size: 15px !important;
  font-family: 'Be Vietnam Pro', sans-serif !important;
  background-color: hsl(12, 88%, 59%) !important;
  color: white !important;
  transition: .3s;
}

.cs-btn3:hover{
  background-color: hsl(12, 88%, 69%) !important;
}

.cs-btn4{
  color: white !important;
  transition: .3s;
}

.cs-btn4:hover{
  color: hsl(12, 88%, 59%) !important;
}

#sub{
  position: relative;
}

.cs-h6{
  position: absolute;
  color: hsl(12, 88%, 69%) !important;
  font-size: 2vh;
  font-weight: 400;
  font-style: italic;
  bottom: -50%;
}

@media (max-width: 900px) {
  .cs-collapse {
    margin-top: 2%;
    padding: 3%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #s2 div ul li .badge{
    grid-row: span 1;
  }

  #s2 div ul li p{
    grid-column: span 2;
  }

  #s4{
    background-image: url("images/bg-simplify-section-mobile.svg");
  }
}